<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
      android:name=".AsmDemoActivity"
      android:taskAffinity="com.example.leonapplication.asmdemo.demo"
      android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

    <activity-alias
      android:name="AsmDemoActivity"
      android:exported="true"
      android:label="AsmDemoActivity"
      android:targetActivity=".AsmDemoActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>