<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />

  <application>

  <activity
      android:name=".FloatWindowDemoActivity"
      android:taskAffinity="com.example.leonapplication.floatwindowdemo.demo"
      android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

  </application>
</manifest>