<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-feature android:name="android.hardware.camera.any" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="28" />

  <application>

    <activity
      android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
      android:name=".TransparentDesktopActivity"
      android:exported="true" />

    <service
      android:name=".TransparentWallpaperSvc"
      android:enabled="true"
      android:exported="true"
      android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/wallpaper" />
    </service>
  </application>

</manifest>